
.back-button {
  margin-bottom:8px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Optional: add rounded corners */
}
.hi{
  color:white;
}
button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #f1f1f1; /* Light background color on hover */
  color: #333; /* Darker text color on hover */
}
/* Container for the video player */
.plr {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000;
  padding: 0; /* Remove padding if it causes overflow */
  width: 100%; /* Full width */
  height: 50vh; /* Adjust height as necessary */
  max-width: 100%; /* Ensure it doesn’t exceed viewport width */
  max-height: 100vh; /* Ensure it doesn’t exceed viewport height */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Hide any overflow */
  display: flex; /* Flexbox centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 5px;
}

@media (max-width: 768px) {
  .plr {
    width: 100%; /* Reduce width on mobile */
    height: 40vh; /* Adjust height for smaller screens */
    max-width: 100%; /* Ensure it doesn’t exceed viewport width */
    max-height: 100vh; /* Ensure it doesn’t exceed viewport height */
    margin: 0 auto; /* Center horizontally */
  }
}



